.list-questions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 10px;
}

figure {
  margin-bottom: 0px;
  position: relative;
  height: 200px;
  background-color: black;
}

.init-response {
  position: absolute;
  left: 0px;
  bottom: 27%;
  width: 100%;
  padding: 1%;
  text-align: center;
}

.edit-response {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding: 1%;
}

.video-popup {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; 
}

.video-response {
  position: relative;
}

.width-video-response {
  width: 70%;
}

.timer-video-response {
  position: absolute;
  right: 0px;
  top: 1%;
  width: 100%;
  color: beige;
  padding-right: 15px;
}

.rec-indicator {
  background-color: #ff0000;
  border-radius:50px;
	width: 18px;
  height: 18px
}

.video-rec-indicator {
  animation: cssAnimation 1s infinite;
  visibility: hidden;
}

@keyframes cssAnimation {
  50% {
    visibility: hidden;
  }
  51% {
    visibility: visible;
  }
}

@media all and (max-width: 765px) {
  .width-video-response {
    width: 90%;
  }
}

@media all and (max-width: 450px) {
  .width-video-response {
    width: 100%;
  }
}

@media all and (max-width: 768px) {
  .width-sm {
    width: 80%;
  }
}

@media all and (max-width: 458px) {
  .width-sm {
    width: 100%;
  }
}