.list-questions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 10px;
}

figure {
  margin-bottom: 0px;
  position: relative;
  height: 200px;
  background-color: black;
}

.init-response {
  position: absolute;
  left: 0px;
  bottom: 27%;
  width: 100%;
  padding: 1%;
  text-align: center;
}

.edit-response {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding: 1%;
}

.video-popup {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; 
}

.video-response {
  position: relative;
}

.width-video-response {
  width: 62%;
}

.height-video-response {
  height: 450px;
}

.dim-video-recorded {
  width: 640px;
  height: 480px;
}

.timer-video-response {
  position: absolute;
  right: 0px;
  top: 1%;
  width: 100%;
  color: beige;
  padding-right: 15px;
}

.rec-indicator {
  background-color: #ff0000;
  border-radius:50px;
	width: 18px;
  height: 18px
}

.video-rec-indicator {
  animation: cssAnimation 1s infinite;
  visibility: hidden;
}

@keyframes cssAnimation {
  50% {
    visibility: hidden;
  }
  51% {
    visibility: visible;
  }
}

@media all and (max-width: 1200px) {
  .width-video-response {
    width: 75%;
  }
}

@media all and (max-width: 992px) {
  .width-video-response {
    width: 90%;
  }

  .height-video-response {
    height: 360px;
  }
}

@media all and (max-width: 768px) {
  .width-video-response {
    width: 100%;
  }
}

@media all and (max-width: 500px) {
  .height-video-response {
    height: 200px;
  }
}

@media all and (max-width: 768px) {
  .width-video-question {
    width: 90%;
    padding-left: 10%;
  }
}

@media all and (max-width: 458px) {
  .width-video-question {
    width: 100%;
    padding-left: 0;
  }
}

@media all and (max-width: 315px) {
  .width-video-question {
    width: 90%;
    padding-left: 0;
  }
}

@media all and (max-width: 705px) {
  .dim-video-recorded {
    width: 400px;
    height: 300px;
  }
}

@media all and (max-width: 465px) {
  .dim-video-recorded {
    width: 250px;
    height: 170px;
  }
} 